arviz
certifi
cftime
chardet
cycler
cython
fastprogress
h5py
idna
joblib
kiwisolver
matplotlib
netcdf4
numpy
packaging
pandas
patsy
pymc3
python-dateutil
pytz
requests
scikit-learn
scipy
six
theano
tqdm
typing-extensions
urllib3
xarray
